.nav{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    background-color: #283728;
    height: 220px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.logoContainer{
  width: 220px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
}

.logo{
    width: 100px;
    height: 100px;
}

.title {
    color: white;
}